/* Fader */
.fader {
  position: justify;
  width: 120px;
  left: 80px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.fader label {
  font-size: 16px;
  color: rgba(55, 55, 55, 0.9)
}

input[type="range"]::-moz-range-track {
  width: 6px;
  height: 97%; /* Get rid of excess on ends */
  background: #ced3d4;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.8);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 7px;
  background: #333;
  border: 4px solid #f9f9f9;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0,0,0,0.5), /* Outline */
              0 6px 12px rgba(0,0,0,0.4); /* Bottom shadow */
}